<div class="row adminPanel" *ngIf="isEditOn()">
    <div class="col-md-12">
        <p-dialog *ngIf="pageEdit" header="Edit Page" [modal]="true" [responsive]="true" [width]="450" [(visible)]="displayEditPageDialog">
            <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText [(ngModel)]="pageEdit.title">
                <label for="float-input">Page Title</label>
            </span>
            <p-footer>
                <button type="button" pButton icon="fa-check" (click)="updatePage()" label="OK"></button>
                <button type="button" pButton icon="fa-close" (click)="displayEditPageDialog=false" label="Cancel"></button>
            </p-footer>
        </p-dialog>
        <p-confirmDialog header="Delete Page?" icon="fa fa-question-circle" width="425"></p-confirmDialog>
        <button class="btn btn-sm btn-success adminButton" (click)="addContent()">
            <i class="fas fa-plus"></i> Add Content
        </button>
        <button class="btn btn-sm btn-primary adminButton" (click)="editPage()">
            <i class="fas fa-edit"></i> Edit Page
        </button>
        <button class="btn btn-sm btn-danger adminButton" (click)="deletePage()">
            <i class="fas fa-trash-alt"></i> Delete Page
        </button>
    </div>
</div>

<div class="content-container" *ngIf="pageService.pageContents">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item" *ngIf="pageService.page.parent">
                {{ pageService.page.parent.title}}
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ pageService.page.title }}</li>
        </ol>
    </nav>
    <div class="content" [ngClass]="{'edit': isEditOn()}" *ngFor="let pageContent of pageService.pageContents">
        <div [froalaEditor]="options" [(froalaModel)]="pageContent.content" *ngIf="pageContent.editing"></div>
        <div *ngIf="!pageContent.editing" [froalaView]="pageContent.content"></div>
        <div class="adminPanel" *ngIf="isEditOn()">
            <button *ngIf="!pageContent.editing" class="btn btn-sm btn-primary adminButton" (click)="editContent(pageContent)">
                <i class="fas fa-edit"></i> Edit
            </button>
            <button *ngIf="pageContent.editing" class="btn btn-sm btn-primary adminButton" (click)="saveContent(pageContent)">
                <i class="fas fa-save"></i> Save
            </button>
            <button *ngIf="pageContent.editing" class="btn btn-sm btn-warning adminButton" (click)="cancelEdit(pageContent)">
                <i class="fas fa-ban"></i> Cancel
            </button>
            <button *ngIf="!pageContent.editing" class="btn btn-sm btn-danger adminButton" (click)="deleteContent(pageContent.id)">
                <i class="fas fa-trash-alt"></i> Delete
            </button>
        </div>
    </div>
</div>
