<div class="hcc-inside-image">
  <div style="height: 100%; position: relative;">
      <p class="hcc-quote">
          At Holy Childhood, we use the gifts that God has given us, our gifts of time, 
          talent and treasure, to further the Kingdom of God here on earth. 
      </p>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col">
          <h2>Our Mission</h2>
          <p>
              To be a credible sign of God’s love and care, Holy Childhood Parish needs to be a loving, 
              charitable and caring community that is spiritually challenging, generously welcoming and 
              liturgically alive. We strive to reach out to those in spiritual need and basic material 
              needs. We will be open to the ideas of others, and, with God’s help, continue to live out 
              the Gospel message.  
          </p>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <h2>Mass Schedule</h2>
          <div class="row">
              <div class="col">Saturday</div>
              <div class="col">5:00 P.M.</div>
          </div>
          <div class="row">
              <div class="col">Sunday</div>
              <div class="col">8:00 A.M.</div>
          </div>
          <div class="row">
              <div class="col"></div>
              <div class="col">10:30 A.M.</div>
          </div>
          <div class="row">
              <div class="col">Tue, Thurs, Fri</div>
              <div class="col">8:00 A.M.</div>
          </div>
      </div>
      <div class="col">
          <h2>Reconciliation</h2>
          <div class="row">
              <div class="col">Saturday</div>
              <div class="col">4:00 P.M.</div>
          </div>
      </div>
      <div class="col">
          <h2>Upcoming Events</h2>
      </div>
  </div>


</div>
