<header>
    <div class='container'>
        <div class='row header1'>
            <div class='col-lg-6'>
                <h1>{{ getSetting('Title') }}</h1>
            </div>

            <div class='col-lg-3'>
                <div class='row'>
                    <div class='col-sm-12'>
                        <i class="fas fa-phone"></i> {{ getSetting('Phone') }}
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-12'>
                        <a href="mailto:{{ getSetting('Email') }}">{{ getSetting('Email') }}</a>
                    </div>
                </div>
            </div>
            <div class='col-lg-3'>
                <div class='row'><div class='col-sm-12'>{{ getSetting('Address') }}</div></div>
                <div class='row'><div class='col-sm-12'>{{ getSetting('City') }}, {{ getSetting('State') }} {{ getSetting('Zipcode') }}</div></div>
            </div>
        </div>
        <div class='row header2'>
            <div class='col-md-12'>
                <app-nav-menu></app-nav-menu>
            </div>
        </div>
    </div>
</header>
<div role='main' class='container position-relative' style='padding-bottom: 25px; background-color: white'>
    <router-outlet></router-outlet>
</div>
<footer class='position-relative'>
    <div class='container'>
        <div class='row' style="background-color:white">
            <img src="assets/images/Insigne_Francisci.svg_.png" class="footer-image mx-auto">
            <img src="assets/images/usccb-logo-2018.png" class="footer-image mx-auto">
            <img src="assets/images/Diocese_of_Belleville.svg.png" class="footer-image mx-auto">
        </div>

        <div class="row footer-content">
            <div class='col'>
                <p>Copyright &copy; 2018 Holy Childhood of Jesus Catholic Church</p>
            </div>
        </div>
    </div>
</footer>
