
<nav class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-brand">
        <img src="assets/images/cross.png" style="height: 35px">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>Menu
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" routerLinkActive="active" routerLink="/home">Home</a>
            </li>
            
            <li class="nav-item" *ngFor="let page of pageService.pages">
                <a class="nav-item nav-link" routerLinkActive="active"  routerLink="/page/{{ page.id }}">{{ page.title }}</a>
            </li>
            
            <div *ngIf="isAuthenticated()">
                <button class="btn btn-sm btn-success adminButton" (click)="addPage()">
                    <i class="fas fa-plus"></i>
                    Add Page
                </button>
            </div>
            
        </ul>
        <ul class="navbar-nav">
            <li *ngIf="isAuthenticated()" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ getUserName() }}
                </a>
                <div class="dropdown-menu" aria-labelledby="userDropdown">
                    <a class="dropdown-item" routerLinkActive="active" routerLink="/settings">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()" href="#">Logoff</a>
                </div>
                
            </li>
            <li *ngIf="!isAuthenticated()" class="nav-item">
                <button class="btn btn-sm btn-outline-light" (click)="login()">Login</button>
            </li>
        </ul>
    </div>
</nav>
