
<nav class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-brand">
        <img src="assets/images/cross.png" style="height: 35px">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>Menu
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" routerLinkActive="active" routerLink="/home">
                    <i class="fas fa-home"></i> Home
                </a>
            </li>

            <li class="nav-item" *ngFor="let page of navService.pages" [ngClass]="{'dropdown': hasSubPages(page) || isEdit()}">
                <a *ngIf="!hasSubPages(page) && !isEdit()" class="nav-item nav-link" routerLinkActive="active"  routerLink="/pages/{{ page.id }}">{{ page.title }}</a>
                <a *ngIf="hasSubPages(page) || isEdit()" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">{{ page.title }}</a>
                <div class="dropdown-menu">
                    <a *ngFor="let subpage of page.children" class="dropdown-item" routerLink="/pages/{{ subpage.id }}">{{ subpage.title }}</a>

                    <button *ngIf="isEdit()" class="dropdown-item" class="btn btn-sm btn-success adminButton" (click)="showAddPageDialog(page)">
                        <i class="fas fa-plus"></i>
                        Add Page
                    </button>
                </div>
            </li>

            <div *ngIf="isEdit()">
                <p-dialog header="Add Page" [modal]="true" [responsive]="true" [width]="450" [(visible)]="displayAddPageDialog">
                    <span class="ui-float-label" style="margin: 10px">
                        <input id="float-input" type="text" size="30" pInputText [(ngModel)]="newPage.title">
                        <label for="float-input">Page Title</label>
                    </span>
                    <p-footer>
                        <button type="button" pButton icon="fa-check" (click)="addPage()" label="OK"></button>
                        <button type="button" pButton icon="fa-close" (click)="displayAddPageDialog=false" label="Cancel"></button>
                    </p-footer>
                </p-dialog>

                <button class="btn btn-sm btn-success adminButton" (click)="showAddPageDialog(null)">
                    <i class="fas fa-plus"></i>
                    Add Page
                </button>
            </div>

        </ul>
        <ul class="navbar-nav">
            <li *ngIf="isAuthenticated()" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-user"></i> {{ getUserName() }}
                </a>
                <div class="dropdown-menu" aria-labelledby="userDropdown">
                    <a class="dropdown-item" routerLinkActive="active" routerLink="/settings">
                        <i class="fas fa-cogs"></i> Settings
                    </a>
                    <a class="dropdown-item" [routerLink]="" (click)="toggleEditMode()">
                        <i class="fas fa-pencil-alt"></i> {{ getEditMenuItem() }}
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()" [routerLink]="">
                        <i class="fas fa-sign-out-alt"></i> Logoff
                    </a>
                </div>

            </li>
            <li *ngIf="!isAuthenticated()" class="nav-item">
                <button class="btn btn-sm btn-outline-light" routerLink="/login">
                    <i class="fas fa-sign-in-alt"></i> Login
                </button>
            </li>
        </ul>
    </div>
</nav>
